{% extends 'base.html' %}
{% block content %}
{% load static %}
<center>
<div class="row">
    <div class="col-sm-8 offset-2">
        <h4 class="alert alert-info">Update Data</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Update">
            <a href="{% url 'add' %}" class="btn btn-info">Back to Add page</a>
        </form>
    </div>

</div>
</center>
{% endblock content %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->